<main class="main">
   <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :rog_name%>
        <%= "今日も頑張りましょう！" %>
      </div>
    <% else %>
      <div class="greeting">
        <%= link_to "ログイン", new_user_session_path, class: :rog_name%>
        <%= "して今日の積み上げを投稿しよう！" %>
      </div>
    <% end %>
    <div class = "all_works">
      <%= render partial: 'work' , collection: @works %>
    </div>
  </div>
</main>